---
bases:
  - ../../bases/environments.yaml.gotmpl
  - ../../bases/helmDefaults.yaml.gotmpl

helmfiles:
  - path: projects.yaml.gotmpl
    values:
      - {{ toYaml .Values | nindent 8 }}
  - path: service-accounts.yaml.gotmpl
    values:
      - {{ toYaml .Values | nindent 8 }}
  - path: iam.yaml.gotmpl
    values:
      - {{ toYaml .Values | nindent 8 }}
  - path: project-network-policies.yaml.gotmpl
    values:
      - {{ toYaml .Values | nindent 8 }}


