bases:
  - ../../bases/environments.yaml.gotmpl
  - ../../bases/helmDefaults.yaml.gotmpl
---
{{- $vals := .Values }}
{{- $envData := .Values | get .Environment.Name dict }}

# --- PRE-FLIGHT SECURITY VALIDATION: Enforce strict context isolation per tenant ---
{{- range $tenantName, $tenantConfig := $envData.gdc_tenants }}
  {{- $tenantGlobalContext := $tenantConfig.global.kube_context_global | default ($vals | get "gdc_context_global" "") }}
  {{- if not $tenantGlobalContext }}
    {{- fail (printf "\n\n❌ SECURITY BREACH PREVENTED: Tenant '%s' does not have an explicitly defined 'kube_context_global' context!\n" $tenantName) }}
  {{- end }}
{{- end }}

templates:
  sa-template:
    namespace: {{ $vals | get "gdc_release_namespace" "iac-root" }}
    createNamespace: false
    installed: true
    wait: true

releases:
  {{- range $tenantName, $tenantConfig := $envData.gdc_tenants }}
    {{- $tenantGlobalContext := $tenantConfig.global.kube_context_global | default ($vals | get "gdc_context_global") }}

    {{- range $project := $tenantConfig.global.projects }}
      {{- if and $project.serviceaccounts (gt (len $project.serviceaccounts) 0) }}
      - name: {{ $project.name }}-service-accounts
        chart: {{ $vals | get "gdc_projects_sa_chart_path" "../../charts/gdc-project-service-accounts" }}
        kubeContext: {{ $tenantGlobalContext | quote }}
        labels:
          stage: 1-project-factory
          tenant: {{ $tenantName | quote }}
          project: {{ $project.name | quote }}
          type: "service-accounts"
        inherit:
          - template: sa-template
        values:
          - name: {{ $project.name }}
            projectserviceaccounts: {{ $project.serviceaccounts | toJson }}
      {{- end }}
    {{- end }}
  {{- end }}
