# helmfile-core.yaml.gotmpl

# Template to deploy org-level policies from core-tenants.yaml

{{- $config := (readFile "core-tenants.yaml" | fromYaml) }}
{{- $vals := $config.core_config }}

releases:
  {{- range $tenantName, $tenantConfig := $vals.gdc_tenants }}

# --- ORG LEVEL POLICIES ---

  {{- if and $tenantConfig.global (hasKey $tenantConfig.global "org_network_policies") }}

  - name: {{ $tenantName }}-org-netpols
    chart: {{ $config.gdc_org_network_policies_chart_path }}
    kubeContext: {{ $config.gdc_context_global }}
    namespace: iac-root
    installed: true
    values:
      - orgnetworkpolicies: {{ $tenantConfig.global.org_network_policies | toJson }}
  {{- end }}

  {{- if and $tenantConfig.global (hasKey $tenantConfig.global "org_policies") }}

  - name: {{ $tenantName }}-org-policies
    chart: {{ $config.gdc_org_policies_chart_path }}
    kubeContext: {{ $config.gdc_context_global }}
    namespace: iac-root
    installed: true
    values:
      - orgpolicies: {{ $tenantConfig.global.org_policies | toJson }}
  {{- end }}
  {{- end }}