{{- $config := (readFile "ao1-project3-tenants.yaml" | fromYaml) }}

releases:
{{- range $tenantName, $tenantConfig := $config.gdc_tenants }}
  {{- range $project := $tenantConfig.projects }}
    {{- if hasKey $project "alloydb_instances" }}
  - name: {{ $project.name }}-alloydb
    chart: {{ $config.gdc_alloydb_chart_path }}
    kubeContext: {{ $config.gdc_context_global }}
    namespace: {{ $project.name }}
    installed: true
    values:
      - alloydb_instances: {{ $project.alloydb_instances | toJson }}
    labels:
      tenant: {{ $tenantName }}
      project: {{ $project.name }}
      bundle: {{ $config.bundle.name }}
      tier: workload
    {{- end }}
  {{- end }}
{{- end }}