targets:
  ro-bucket:
    mount:
      path:
        - /ro1/
    actions:
      head:
        enabled: true
      get:
        enabled: true
    bucket:
      name: {{ buckets_config['ro1'] }}
      prefix:
      region:
      s3Endpoint: {{ buckets_config['endpoint'] }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
  rw-bucket:
    mount:
      path:
        - /rw1/
    actions:
      head:
        enabled: true
      get:
        enabled: true
      put:
        enabled: true
      delete:
        enabled: true
    bucket:
      name: {{ buckets_config['rw1'] }}
      prefix:
      region:
      s3Endpoint: {{ buckets_config['endpoint'] }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
  tools-bucket:
    mount:
      path:
        - /tools/
    actions:
      head:
        enabled: true
      get:
        enabled: true
    bucket:
      name: {{ buckets_config['tools'] }}
      prefix:
      region:
      s3Endpoint: {{ buckets_config['endpoint'] }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
