targets:
  ro-bucket:
    mount:
      path:
        - /{{ ro_bucket_name }}/
    actions:
      head:
        enabled: true
      get:
        enabled: true
    bucket:
      name: {{ ro_bucket_fqn }}
      prefix:
      region:
      s3Endpoint: {{ s3endpoint }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
  rw-bucket:
    mount:
      path:
        - /{{ rw_bucket_name }}/
    actions:
      head:
        enabled: true
      get:
        enabled: true
      put:
        enabled: true
      delete:
        enabled: true
    bucket:
      name: {{ rw_bucket_fqn }}
      prefix:
      region:
      s3Endpoint: {{ s3endpoint }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
  tools-bucket:
    mount:
      path:
        - /{{ tools_bucket_name }}/
    actions:
      head:
        enabled: true
      get:
        enabled: true
    bucket:
      name: {{ tools_bucket_fqn }}
      prefix:
      region:
      s3Endpoint: {{ s3endpoint }}
      disableSSL: false
      credentials:
         accessKey:
           value: {{ aws_access_key_id }}
         secretKey:
           value: {{ aws_secret_access_key }}
