iac:
{{ config.GDCH_ZONE }}:
  clusters:
  - name: "{{ config.CLUSTER_NAME }}"
    clusterNetwork:
      podCIDRSize: "{{ config.CLUSTER_POD_CIDR_SIZE }}"
      serviceCIDRSize: "{{ config.CLUSTER_SERVICE_CIDR_SIZE }}"
    initialVersion:
      kubernetesVersion: "{{ config.CLUSTER_K8S_VERSION }}"
    loadBalancer:
      ingressServiceIPSize: "{{ config.CLUSTER_INGRESS_SERVICE_IP_SIZE }}"
    nodePools:
    - name: "{{ config.CLUSTER_NODE_POOL_NAME }}"
      machineTypeName: "{{ config.CLUSTER_MACHINE_TYPE }}"
      nodeCount: "{{ config.CLUSTER_NODE_COUNT }}"
    releaseChannel: "UNSPECIFIED"
    projectBindings:
    - "{{ config.IAC_PROJECT }}"
{% for user in users_lowercase %}
    - "{{ user }}"
{% endfor %}