iac:
  # IaC can be invoked by user or service account
- role: "project-iam-admin"
  subject_kind: "User"
  subject_name: &iac_sa "{{ config.IAC_SA_FQN }}"
- role: "project-bucket-admin"
  subject_kind: "User"
  subject_name: *iac_sa
- role: "project-networkpolicy-admin"
  subject_kind: "User"
  subject_name: *iac_sa
- role: "harbor-instance-admin"
  subject_kind: "User"
  subject_name: *iac_sa
- role: "harbor-project-creator"
  subject_kind: "User"
  subject_name: *iac_sa
- role: "standard-cluster-admin"
  subject_kind: "User"
  subject_name: *iac_sa
- role: "workbench-notebooks-admin"
  subject_kind: "User"
  subject_name: *iac_sa
global:
  shared_infra_project_name: &shared_infra_project_name "data-ets-shared-infra"
  shared_harbor_admin_name: &shared_harbor_admin_name "{{ config.AIS_PREFIX }}{{ config.HARBOR_ADMIN_EMAIL }}"
{{ config.GDCH_ZONE }}:
  clusters:
  - name: "{{ config.CLUSTER_NAME }}"
    clusterNetwork:
      podCIDRSize: "{{ config.CLUSTER_POD_CIDR_SIZE }}"
      serviceCIDRSize: "{{ config.CLUSTER_SERVICE_CIDR_SIZE }}"
    initialVersion:
      kubernetesVersion: "{{ config.CLUSTER_K8S_VERSION }}"
    loadBalancer:
      ingressServiceIPSize: "{{ config.CLUSTER_INGRESS_SERVICE_IP_SIZE }}"
    nodePools:
    - name: "{{ config.CLUSTER_NODE_POOL_NAME }}"
      machineTypeName: "{{ config.CLUSTER_MACHINE_TYPE }}"
      nodeCount: "{{ config.CLUSTER_NODE_COUNT }}"
    releaseChannel: "UNSPECIFIED"
    projectBindings:
    - "{{ config.IAC_PROJECT }}"
{% for project in all_projects %}
    - "{{ project }}"
{% endfor %}
  projects:
  - name: *shared_infra_project_name
    harbors:
    - name: "data-ets-mhs"
      projects:
      - name: "data-ets"
        autoscan: false
        creatorkind: "User"
        creatorname: *shared_harbor_admin_name