# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

bases:
  - ../../bases/environments.yaml.gotmpl
  - ../../bases/helmDefaults.yaml.gotmpl
---
{{- $vals := .Values }}
{{- $envData := .Values | get .Environment.Name dict }}

helmDefaults:
  createNamespace: false
  wait: {{ env "HELM_WAIT" | default (.Values | get "helm_wait" true | toString) | eq "true" }}
  kubeContext: {{ $vals | get "gdc_context_global" "global-api-context" }}

templates:
  rbacrolebindings-template:
    kubeContext: {{ $vals | get "gdc_context_global" "global-api-context" }}
    namespace: {{ $vals | get "gdc_release_namespace" "iac-root" }}
    installed: {{ $vals | get "install_bootstrap" true }}

{{- if and $envData (hasKey $envData "iac") }}
{{- $projectBindingsRaw := $envData | get "iac.project.rbacrolebindings" list | default list }}
{{- $projectBindings := list }}
{{- range $binding := $projectBindingsRaw }}
  {{- $resolved := dict "role" $binding.role "subject_name" ($binding | get "subject_name" ($vals | get "iac_sa" "fop-iac@example.com")) "subject_kind" ($binding | get "subject_kind" "serviceAccount") }}
  {{- if hasKey $binding "subject_namespace" }}
    {{- $_ := set $resolved "subject_namespace" $binding.subject_namespace }}
  {{- end }}
  {{- $projectBindings = append $projectBindings $resolved }}
{{- end }}

{{- $globalBindingsRaw := $envData | get "iac.global.rbacrolebindings" list | default list }}
{{- $globalBindings := list }}
{{- range $binding := $globalBindingsRaw }}
  {{- $resolved := dict "role" $binding.role "subject_name" ($binding | get "subject_name" ($vals | get "iac_sa" "fop-iac@example.com")) "subject_kind" ($binding | get "subject_kind" "serviceAccount") }}
  {{- if hasKey $binding "subject_namespace" }}
    {{- $_ := set $resolved "subject_namespace" $binding.subject_namespace }}
  {{- end }}
  {{- $globalBindings = append $globalBindings $resolved }}
{{- end }}

releases:
  {{- if gt (len $projectBindings) 0 }}
  - name: iac-rbacrolebindings-project
    chart: {{ $vals | get "gdc_rbac_rolebindings_chart_path" "../../../charts/gdc-rbac-role-bindings" }}
    {{- if ($vals | get "gdc_rbac_rolebindings_chart_version" "") }}
    version: {{ $vals | get "gdc_rbac_rolebindings_chart_version" | quote }}
    {{- end }}
    labels:
      stage: 0-bootstrap
    inherit:
      - template: rbacrolebindings-template
    values:
      - namespace: {{ $envData | get "iac.project.namespace" "iac-root" | quote }}
      - rbacrolebindings: {{ $projectBindings | toJson }}
  {{- end }}

  {{- if gt (len $globalBindings) 0 }}
  - name: iac-rbacrolebindings-global
    chart: {{ $vals | get "gdc_rbac_rolebindings_chart_path" "../../../charts/gdc-rbac-role-bindings" }}
    {{- if ($vals | get "gdc_rbac_rolebindings_chart_version" "") }}
    version: {{ $vals | get "gdc_rbac_rolebindings_chart_version" | quote }}
    {{- end }}
    labels:
      stage: 0-bootstrap
    inherit:
      - template: rbacrolebindings-template
    values:
      - namespace: {{ $envData | get "iac.global.namespace" "platform" | quote }}
      - rbacrolebindings: {{ $globalBindings | toJson }}
  {{- end }}

{{- else }}
releases: []
{{- end }}
